@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.digital-clock {
    color: #fff;
    background: linear-gradient(to bottom, #06beb6, #48b1bf);
    width: 75%;
    height: 70%;
    padding: 20px 45px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    overflow: hidden; /* Added overflow to hide animations */
}

.digital-clock:hover {
    background: linear-gradient(to bottom, #48b1bf, #06beb6);
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


.hours, .colon, .minutes, .seconds {
    background: -webkit-linear-gradient(180deg, #06beb6, #48b1bf);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 200px;
    font-weight: 600;
    padding: 0 10px;
}

.colon {
    font-size: 100px;
    color: #333;
}

.date {
    font-size: 50px;
    font-weight: 500;
    margin-top: 5px;
}

.period {
    font-size: 50px;
    font-weight: 600;
    color: #333;
}
